html, body {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 1em;
    background-color: #345;
    color: #DEF;
}

#splashContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    -background-color:white;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 256px 128px;
    -ms-interpolation-mode: nearest-neighbor;
	image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.horizontalContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.verticalContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* height: 100%; */
}

.expand {
    flex-grow: 1;
}

#envContainer {
    width: 100%;
    height: 100%;
}

.market .gameName {
  display: block
}

.market .authorName {
  font-size: 0.75em;
}


.market .authorName:after {
    content: attr(data-author);
}

.market .gameName:after {
    content: attr(data-name);
}

.market {
    padding: 5px;
    margin: 0px;
    max-width: 640px;
    left: 0;
    right: 0;
    margin: auto;
}

h1 {
    margin-left: 20px;
}

h2 {
    margin-left: 50px;
    font-style: italic;
}

.market li btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;
    padding: 0px 2px;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
}

.market li {
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
  background-color: #789;
  list-style: none;
  margin-bottom: 5px;
  padding: 3px;
  padding-right: 256px;
  height: 64px;
  position: relative;
  cursor: pointer;
}

#fileList {
    flex-basis: 200px;
    border-right: solid 1px;
    background: #456;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

#fileList .fileListItem::after {
    content: attr(data-filename);
}

#consoleContainer {
    flex-grow: 0;
    /* max-height: 300px; */
    padding: 5px;
    background-color: #456;
    position: relative;
    box-sizing: border-box;
}

#consoleContainer>* {
    color: #abc;
    display: none;
    flex-grow: 1;
}

#consoleContainer>nav {
    display: flex;
    flex-basis: 25px;
    flex-grow: 0;
}

#fileList>ul {
    background: #345;
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    padding: 10px;
    position: absolute;
    box-sizing: border-box;
}

nav button {
    border: none;
    margin: 0;
    border-right: solid 1px #789;
    background: #345;
    color: #ABC;
    font-family: inherit;
    text-transform: uppercase;
    font-size: inherit;
}

#simBox{
    position: relative;
    flex-grow: 1;
}

#fb {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    flex-direction: column-reverse;
}
#ideContainer {
    max-height: 50%;
}
@media (min-aspect-ratio: 1/1) {
    #fb{
	flex-direction: row;
    }
    #ideContainer {
	max-height: initial;
    }
}

#simContainer {
    position: absolute;
    overflow: hidden;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    user-select: none;
}

#simContainer>*{
    user-select: none;
}

#simContainer img{
    position: relative;
    height: 100%;
    width: 100%;
    pointer-events: none;
    /* image-rendering: optimizeSpeed; */    
}

#simContainer canvas {
    position: absolute;
    top: 8.7%;
    height: 22.5%;
    left: 18%;
    width: 64.5%;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

canvas:fullscreen{
  width: 100% !important;
  left: initial !important;
  top: initial !important;
  bottom: initial !important;
  height: initial !important;
  object-fit: contain !important;
  background-color: black !important;
}

canvas:-moz-full-screen{
  width: 100% !important;
  left: initial !important;
  top: initial !important;
  bottom: initial !important;
  height: initial !important;
  object-fit: contain !important;
  background-color: black !important;
}

canvas:-webkit-full-screen {
  width: 100% !important;
  left: initial !important;
  top: initial !important;
  bottom: initial !important;
  height: initial !important;
  object-fit: contain !important;
  background-color: black !important;
}

#simContainer led {
  transition: opacity 0.2s;
  width: 2%;
  height: 2%;
  overflow: hidden;
  background: lightblue;
  position: absolute;
  top: 19.3%;
  left: 9%;
  mix-blend-mode: screen;
}

#simContainer btn {
    position: absolute;
    cursor: pointer;
    --background: rgba(255,255,255,0.5);
}

#simContainer #Up {
  top: 49%;
  left: 16%;
  width: 14%;
  height: 10%;
}

#simContainer #Left {
  top: 57%;
  left: 2%;
  width: 15%;
  height: 9%;
}


#simContainer #Down {
  top: 65%;
  left: 16%;
  width: 14%;
  height: 10%;
}

#simContainer #Right {
  top: 58%;
  left: 28%;
  width: 15%;
  height: 9%;
}

#simContainer #A {
    top: 59%;
    left: 64%;
    width: 14%;
    height: 8%;
    border-radius: 50%;
}

#simContainer #B {
    top: 54%;
    left: 79%;
    width: 15%;
    height: 9%;
    border-radius: 50%;
}

#simContainer #PWR {
    width: 14%;
    height: 7%;
    top: 0;
    left: 15%;
}

#MCM {
    width: 6%;
    height: 9%;
    top: 25%;
    left: 89%;
}

#DBG {
    width: 21%;
    height: 10%;
    bottom: 0;
    left: 41%;
}

#RESET {
    width: 7%;
    height: 4%;
    bottom: 3%;
    left: 20%;
}

#ideContainer {
    position: relative;
    flex-grow: 1;
    background: #789;
    border-top: solid 1px #DEF;
    /* position: fixed; */
    /* left: 0; */
    /* width: 100%; */
    /* bottom: 0; */
    /* max-height: 25%; */
    overflow: auto;
    display: none;
}

#ideContainer[hidden=false] {
    display: flex;
}

#sourceContainer, #daContainer, #stateContainer, #historyContainer, #ramContainer {
    display: none;
    height: 0;
    flex-grow: 0;
    flex-basis: 0;
}

#ideContainer[data-tab=history] #historyContainer,
#ideContainer[data-tab=da] #daContainer,
#ideContainer[data-tab=source] #sourceContainer,
#ideContainer[data-tab=state] #stateContainer,
#ideContainer[data-tab=ram] #ramContainer
{
    display: flex;
    height: auto;
    flex-grow: 1;
    flex-basis: auto;
}
#ideContainer[data-tab=da] #stateContainer {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    background: #789;
    width: 260px;
    height: 300px;
    z-index: 1;
}

@media (min-aspect-ratio: 1/1) {
    #ideContainer[data-tab=da] #stateContainer {
	top: auto;
	bottom: 0;	
    }
}

#ideContainer[data-tab=da] #stateContainer .tabs {
  display: none;
}
#ideContainer[data-tab=da] #stateContainer ul {
  margin: 0;
  height: 100%;
  padding: 10px 0;
}

#ideContainer[data-tab=da] #state li {
    width: 50%;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    font-size: 12px;
}

#history, #da, #state {
    position: relative;
    overflow: auto;
    background: #123;
    list-style: none;
    padding: 0;
}

#da {
    overflow: hidden;
}

#history li, #da li, #state li {
    cursor: pointer;
    padding: 0 25px;
}

#history li:hover, #da li:hover {
    background: #789;    
}

#history li:after {
    content: attr(data-text);
}

#ideContainer .tabs {
    min-height: 30px;
    max-height: 30px;
    align-items: center;    
}

#simContainer.microcard {}

#simContainer.microcard img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

#simContainer.microcard #screen {
    transform: rotate(-90deg);
    top: 32%;
    height: 34%;
    width: 38%;
    left: 30.5%;
}

#simContainer.microcard #Right {
    top: 20%;
    left: 16%;
    width: 9%;
    height: 14%;
}

#simContainer.microcard #Left {
    top: 46%;
    left: 16%;
    width: 9%;
    height: 14%;
}

#simContainer.microcard #Up {
    top: 31%;
    width: 10%;
    left: 7%;
    height: 16%;
}

#simContainer.microcard #Down {
    top: 31%;
    width: 10%;
    left: 24%;
    height: 16%;
}

#simContainer.microcard #A {
    top: 38%;
    width: 9%;
    left: 72%;
    height: 15%;
}

#simContainer.microcard #B {
    top: 28%;
    width: 9%;
    left: 82%;
    height: 15%;
}

#simContainer.microcard #PWR {
    left: 18%;
    height: 14%;
}

#simContainer.microcard #MCM {
    display: none;
}

#simContainer.microcard #DBG {
    width: 11%;
    left: 44%;
    height: 14%;
}

#ideContainer #ace {
    flex-grow: 1;
}

#da li {
    border-radius: 5px;
    position: relative;
}

#da li[breakpoint=true] .breakpoint {
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 2px;
    width: 11px;
    height: 11px;
    background-color: red;
    position: absolute;
    left: 0px;
}

#da li[pc=true] {
    background-color: aquamarine;
    color: #123;
}

#compile {
    margin-left: auto;
}

.dbgbtn {
    background: #AEF;
    border: 0;
    border-radius: 15px;
    margin: 3px;
    font-size: 18px;
}

#da li .commentContainer {    
    position: absolute;
    background-color: #111;
    color: #456;
    right: 0;
    top: 0;
    margin: 0;
    height: 100%;
    padding: 0px 10px 18px 10px;
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0.5;
}

#da li:hover {
    overflow: initial;
    z-index: 1;
}

#da li:hover .commentContainer {
    height: auto;
    opacity: 1;
}

#da li .opContainer {
    padding-left: 20px;
    margin: 3px;
}

#RAM {
    font-family: monospace;
    font-size: 16px;
    padding: 10px 0px 10px 10px;
    margin: 0;
    position: absolute;
    width: 740px;
    background: #234;
    margin-left: 15px;    
}

#RAM li {
    float: left;
    padding:3px;
    margin:0px;
    width:16px;
    height:16px;
    overflow:hidden;
}

#RAM li:nth-child(16n){
    margin-right: 10px;
}

#RAMTT {
    position: absolute;
    background: #ABC;
    padding: 10px;
    color: #123;
    display: none;
}

#RAMTTclose {
    float: right;
    background: red;
    width: 16px;
    height: 16px;
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
    color: white;
    cursor: pointer;
}
